html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

main {
  width: 100%;
  background-color: #ffffff;
  padding: 100px 6%;
}
main .blank-block {
  height: 50vh;
  width: 100%;
  background-color: #ffffff;
}
main .works {
  width: 100%;
}
main .works .works-title {
  font-size: 3.4rem;
  color: #111111;
  margin-bottom: 140px;
  line-height: 1;
}
main .works .works-title span {
  font-size: 0.85rem;
  vertical-align: top;
}
main .works .works-items {
  list-style: none;
}
main .works .works-items li {
  border-bottom: solid 1px #111111;
}
main .works .works-items li:first-child {
  border-top: solid 1px #111111;
}
main .works .works-items li .works-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 100px;
  text-decoration: none;
  color: #111111;
}
main .works .works-items li .works-item span {
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 0.5rem;
  font-weight: bold;
}
main .works .works-items li .works-item__left {
  width: 44%;
  height: auto;
  position: relative;
}
main .works .works-items li .works-item__left .top-item {
  position: relative;
}
main .works .works-items li .works-item__left .top-item__title {
  height: 100px;
  margin-bottom: 20px;
  overflow: hidden;
}
main .works .works-items li .works-item__left .top-item__title p {
  line-height: 1.5;
  font-size: 2.25rem;
  transition: 0.5s ease 0.2s;
}
main .works .works-items li .works-item__left .top-item__title .rotate-up {
  transform: translateY(-100%);
}
main .works .works-items li .works-item__left .top-item__sub {
  font-size: 1rem;
}
main .works .works-items li .works-item__left .bottom-item {
  position: absolute;
  bottom: 0;
}
main .works .works-items li .works-item__left .bottom-item p {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
}
main .works .works-items li .works-item__left .bottom-item p:nth-child(2) {
  margin-top: 12px;
  font-size: 0.65rem;
  font-weight: normal;
  color: #999999;
}
main .works .works-items li .works-item__right {
  height: auto;
  width: 50%;
  object-fit: cover;
  transition: 0.6s ease 0.2s;
  overflow: hidden;
}
main .works .works-items li .works-item__right img {
  display: inline-block;
  width: 100%;
  transition: 0.6s ease 0.2s;
}
main .works .works-items li .works-item__right.shrink {
  transform: scale(0.9);
}
main .works .works-items li .works-item__right.shrink img {
  transform: scale(1.3);
}